<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Seocho Kaist Project</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home/</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In/</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up/</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">One Sentence Project</h3>
        </div>

        <div class="jumbotron">
            <h1>My Diary Book App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>일기 리스트 -1-</h4>
                <p>그랜드캐년 방문해보기</p>

                <h4>일기 리스트 -2-</h4>
                <p>페루 마추픽추에 가보기</p>

                <h4>일기 리스트 -3-</h4>
                <p>이탈리아 베니스의 세인트 마크 대성당 가보기</p>
            </div>

            <div class="col-lg-6">
                <h4>일기 리스트 -4-</h4>
                <p>스페인의 라토마티나(토마토축제) 참가해보기</p>

                <h4>일기 리스트 -5-</h4>
                <p>브라질 카니발 축제 가보기</p>

                <h4>일기 리스트 -6-</h4>
                <p>이집트 카이로의 기자 피라미드 가보기</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Seocho Kaist 1기</p>
        </footer>

    </div>
</body>

</html>